<h1>{% trans %}Bonjour, merci de confirmer votre e-mail{% endtrans %}</h1>

<p>
    {% trans %}Veuilles confirmer votre adresse e-mail en cliquant sur le lien ci-dessous:{% endtrans %}
    <br><br>
    <a href="{{ signedUrl }}">{% trans %}Confirmer mon e-mail{% endtrans %}</a>.
    {% trans %}Ce lien expirera dans{% endtrans %} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {% trans %}A très vite !{% endtrans %}
</p>
