{% extends 'base.html.twig' %}

{% block title %}{% trans %}Envoi de l'email de réinitialisation du mot de passe{% endtrans %}{% endblock %}

{% block body %}
    <p>
    {% trans %}Si votre adresse e-mail correspond à un compte existant, alors un e-mail contenant un lien qui va vous permettre de réinitialiser votre mot de passe vient d'être envoyé. Ce lien expira dans{% endtrans %} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>
        {% trans %}Si vous n'avez pas reçu d'e-mail, vérifiez le dossier spam de votre boite de reception, ou {% endtrans %}
        <a href="{{ path('app_forgot_password_request') }}">{% trans %}Réessayez à nouveau{% endtrans %}</a>.
    </p>
    <p><a href="{{ path('home') }}">{% trans %}Retour à l'accueil{% endtrans %}</a></p>
{% endblock %}
