{% extends 'dashboard/index.html.twig' %}

{% block title %}Hello ColorController!{% endblock %}

{% block body %}

  <div class="container">
    <h1>Mes couleurs</h1>
    <div class="row">
        {% for color in colors %}
          <div class="col badge rounded-pill badge-color" style="color: {{ color.codeText}}; background: {{ color.codeBg }}">{{ loop.index }}</div>
        {# <pre>
          {{ dump(color.codeText) }}
        </pre> #}
        {% endfor %}
      </div>
  </div>

{% endblock %}
