@keyframes container-left-to-right {
    from {
        left: -170px;
    }

    to {
        left:-3px;
    }
}

@keyframes container-right-to-left {
    from {
        left: 0;
    }

    to {
        left:-170px;
    }
}

.categories-handle-container {
    text-align: center;

    .tree-categories-container {
        overflow: hidden;
        z-index: 3;
        width: 100%;
        box-shadow: 2px 2px 5px $success;
        padding: 0.5em;
        border-radius: 4px;

        #category-title {
            cursor: pointer ;
        }

        ul {
            text-align: left;
            padding-bottom: .25rem;
            padding-left: 2em;
            margin: 0 ;
        }

        li.cat-accordion-header {
            overflow: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 100%;

            [id*='handle-category'] {
                position: relative;
                left: -170px;
                z-index: 0;
                box-shadow: 2px 2px 5px $secondary;
                background-color: $dark;
                padding: 0 0 0 1em;
                border-radius: 0 4px 4px 0;
                button {
                    box-shadow: 2px 2px 5px $dark;
                    border-radius: 8px;
                    background-color: darken($danger, 15%);
                    color: $primary;
                    font-size: .9em ;

                    &:hover {
                        font-weight: bold;
                        background-color: $danger;
                        color: $light;
                    }

                    &:first-of-type{
                        background-color: $secondary;
                        color: $light;
                        &:hover {
                            background-color: darken($secondary, 15%);
                        }
                    }
                }
            }

            button {
                border-radius: 4px;
                border: none;

                &[class*='cat-accordion-button'] {
                    padding: .5em;
                    white-space: nowrap;
                    z-index: 2;
                }

                &[class*='expand-category-button'] {border-radius: 0 !important;
                    box-shadow: inset 0px 0px 2px #fff;
                    background-color: $dark;
                    color: $primary;
                    padding: 0.67em 0.5em;
                }
            }

        }
        .cat-accordion-body {
            padding-left: .5rem;
            margin-top: 0.75em;
        }
    }
}

