.categories-handle-container {
    text-align: center;
    
    #category-title {
        cursor: pointer ;
    }

    ul {
        text-align: left;
        padding-bottom: .25rem;
        padding-left: 2em;
        margin: 0 ;
    }
    li.cat-accordion-header {
        margin-top: 0.5em;
        button[class*='cat-accordion-button'] {
            box-shadow: 2px 2px 5px $dark;
            border-radius: 4px;
            border: none;
            padding: .5em;
            white-space: nowrap;
        }
    }
    .cat-accordion-body {
        padding-left: .5rem;
        margin-top: 0.75em;
    }

    .tree-categories-container {
        width: 100%;
        box-shadow: 2px 2px 5px $success;
        padding: 0.5em;
        border-radius: 4px;
    }
}

