.form-container {
        width: 100%;
    fieldset {
        box-shadow: 2px 2px 5px $dark;
        padding: 0.5em;
        border-radius: 4px;
        input, select {
            margin: auto;
            margin-bottom: .5em;
            width: 75%;
            &[type=color] {
                height: 2rem;
            }
        }
        label {
            font-size: .9em;
            width: 73%;
            padding-left: 0;
            text-align: left;
        }
        legend {
            padding-left: .5em;
            color: $secondary;
            font-size: 1.1em;
            text-shadow: 1px 1px 2px $light;
            text-align: left;
            border-bottom: 1px $secondary solid;
        }
        button {
            @extend .button-shadow-secondary;
            margin: .5em 0;
        }
    }
    .form-custom-colors {
        margin: .75em auto;
        width: 75%;
        text-align: center;

        legend {
            font-size: .9em ;
        }


        .custom-colors-container {
            display: flex;
            justify-content: space-around;
            .flex-equal {
                width: 35%;
            }
            &.form-colors {
                label {
                    width: 100%;
                    text-align: center;
                }
                .flex-equal {
                    width: 50%;
                }
            }
        }
    }
}
