@import "./_accordion-section";
@import "./_color-section";
@import "./_form";

.categories-main-container {
    display: flex;
    justify-content: space-around;

    h1 {
        text-align: center;
        font-size: 1.5em;
        margin-top: 1rem;
        box-shadow: 0px 2px 5px $success;
        padding: 0.25em;
        border-radius: 4px;
        margin-bottom: 0 !important;
    }
}

.category-edit-container {
    margin: auto;
    width: 70%;
    text-align: center;
}
