// assets/dashboard/css/pages/content/_new.scss

#content-edit-container {
    .form-container {
        padding: 1em;
        select,
        input,
        textarea {
            color: $secondary;
            width: 100%;
            text-align: left;
        }
        input[type="checkbox"] {
            width: 1.2em;
            height: 1.2em;
        }
        .content-options-container {
            margin: 1em 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            box-shadow: 1px 1px 4px $secondary;
            border-radius: 8px;
            padding: 0.5em;

            .content-option {
                white-space: nowrap;
                width: 50%;
                text-align: center;
                margin: auto;
                .form-check-input {
                    float: none;
                    margin-top: 0.25em;
                    margin-right: 0.5em;
                }
                input[type=checkbox] {
                    &:checked {
                        background-color: $secondary;
                    }
                }
            }
        }
    }

    h3 {
        text-align: left;
        padding: 0.2em;
    }

    .form-group {
        justify-content: center;
        margin: auto;
    }
    fieldset {
        padding: 1em;
    }
}
