// Bootstrap
@import "custom";
@import "~bootstrap/scss/bootstrap";

// Bootswatch
@import '_variables';
@import '_bootswatch';

.profile-dropdown {
    background-color: $primary;
    border-radius: 50%;
    border: 1px $dark solid;
    .dropdown-menu[data-bs-popper]  {
        // top: 120%;
        left: -49px;
        margin-top: 1rem;
    }
}
