{# templates/common/_connectbar.html.twig #}

<nav>
    <ul class="w-100 connect-bar">
        <li><a href="{{ path('app_login') }}" class="light-link">Connexion</a></li>
        <li class="text-light">-</li>
        <li><a href="{{ path('app_register') }}" class="light-link">Enregistrement</a></li>
        <li><a href="" class="dark-link">X</a></li>
    </ul>
</nav>
