<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            {% block flash %}
                {% for flashSuccess in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
                {% endfor %}
                {% for flashError in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
            {% endblock %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
