{# home.html.twig #}

{% extends "base.html.twig" %}

{% block body %}
    Welcome to the devMemories home page
<<<<<<< HEAD
    <div id="root">
        <Welcome />
    </div>
    {# <Welcome user = {{app.user.id ?? 0}} /> #}
=======
>>>>>>> dev
{% endblock %}
