{# templates/dashboard/base.html.twig #}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Jerkoder">
		<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

		{# stylesheets and javascript dependencies #}
		{% block head %}
			{% include "dashboard/dependencies/_head.html.twig" %}
		{% endblock %}

		<title>{% block title %}Dashboard{% endblock %}</title>
	</head>

	<body>
		<div id="container">
			{# navbar #}
			{% include "dashboard/common/_navbar.html.twig" %}
			{# sidebar #}
			{% include "dashboard/common/_sidebar.html.twig" %}
			<main id="main-content">
				<div class="wrapper">
					<div class="container">
						{% block flash %}
							{% include "dashboard/common/_flashMessage.html.twig" %}
						{% endblock %}
						<aside class="breadcrumb">
							{% block breadcrumb %}
								<a href="{{ path('dashboard_home') }}">Dashboard </a>&nbsp></span>
							{% endblock %}
						</aside>
						{% block body %}{% endblock %}
					</div>
				</div>
			</main>
			{# footer #}
			{% include "dashboard/common/_footer.html.twig" %}
		</div>

		{# Page bottom javascript scripts #}
		{% block js %}
			{% include "dashboard/dependencies/_script.html.twig" %}

		{% endblock %}
			{% include "common/modal/_deleteModal.html.twig" %}
		{% block modal %}

		{% endblock %}
	</body>

</html>
