{# templates/dashboard/common/_navbar.html.twig #}

<!--header start-->
<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="{{ path('home') }}" class="logo">
        <b>DEV<span>MEMORIES</span></b>
    </a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!-- notification start -->
        <ul class="nav top-menu">
        {# DROPDOWNS BUTTONS #}
        </ul>
        <!-- notification end -->
    </div>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li>
                <a class="logout" href="{{ path('app_logout') }}">{% trans %}Déconnexion{% endtrans %}</a>
            </li>
        </ul>
    </div>
</header>
